<?xml version="1.0" encoding="utf-8"?>

<!-- HardwareFaker is not meant to have any application on a robot controller or driver station,
    and as such, this file serves no other purpose but to allow Android compatability. -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application/>
</manifest>
